*{
	margin: 0;
	padding: 0;
}

section {
display: flex;
flex-direction: column;
justify-content:center;
width: 100%;
border: 1px black solid;
align-items: stretch;
flex-wrap: wrap;
}

.section1{
align-items: center;
}

.section2{
align-items: center;
}

.section3{
align-items: center;
}

.trans {
	transition: 4s;
	width: 100 px;
}

.trans:hover {
	height:300px;
	width: 300px;
}

.translate {
	transform: translate(-50px,0px)
}

.rotate:hover {
	transform: rotate(45deg);
}

h2 {
	text-align: center;
	padding: 10px;
	animation-duration: 8s;
	animation-name: aparecer;
	animation-iteration-count: infinite;
}

.animate__wobble {
	height: 40px;
	background-color: violet;
}


footer{
	text-align: center;
}